/* General Styles */
* {
  box-sizing: border-box;
}


/* Styles for Splash */

.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.splash-image {
  width: 100vw;
  margin-bottom: 1.7em;
}

/* Styles for Main View*/

p {
  font-size: 1.2em;
  word-break: break-word;
}

h2 {
  font-size: 2.5em;
  text-align: center;
  width: 100%;
}

.margin-bottom-zero {
  margin-bottom: 0;
}

/* Styles for header */
.navbar {
  background-color: #e26575;
}

nav .nav-wrapper {
  display: flex;
  align-items: center;
}

nav .brand-logo {
  font-size: 2rem;
  margin-left: 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 40%;
}

nav ul a:hover {
  background-color: #fe97a8;
}

.side-nav li>a:hover {
  background-color: #fe97a8;
}

/* Styles for main image */

.hero {
  max-width: 100%;
  height: 450px;
  background-image: url('../assets/images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.name {
  height: 450px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.5em;
  color: #e26575;
}

/* Styles for main */
/* Styles for container */
.flex-container {
  display: flex;
  justify-content: center;
}

.about-me-container {
  padding-top: 2.3em;
  padding-bottom: 2.3em;
}

.about-me-row {
  display: flex;
  align-items: center;
}

.about-me {
  margin: 1.5em 0 3.5em;
}

/* Styles for my description's paragraph */

.my-description {
  text-align: justify;
}

/* Styles for my image */

.image-div {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-image {
  width: 17em;
}

/* Styles for Tech Skills' section */

.tech-tool {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for section about projects*/

.last-section {
  padding-bottom: 4em;  
}

.h2-section-project {
  padding-top: 1.78rem;
  margin: 0 0 1.424rem 0;
}

.project-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.project-button {
  background-color: #e26575;
  font-size: 1.5em;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.btn:hover, .btn-large:hover, .btn:focus, .btn-large:focus, .btn-floating:focus {
  background-color: #f58375;
}

.span-container {
  margin: 0 0.8em;
}

.icon-project {
  color: #fff;
} 

/* Styles for footer */

footer {
  background-color: #e26575;
  color: white;
}

.icon {
  font-size: 1.65em;
  color: white;
}

.icon:hover {
  color: #01c5ce;
}

.footer-bottom {
  padding: 1em 0;
}

/* Styles for Soft Skills' section */

.soft-skills-section {
  padding: 2em 0 2.35em;
}

.soft-skills-title {
  margin-bottom: 0.5em;
}

/* Styles for Soft Skills' images*/

.soft-skills-image {
  width: 80%;
}

/* Styles for Tech Tools' section */

.tech-tools-section {
  padding-bottom: 4.8em;
}

.tech-tools-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 2em;
}

.tech-tools-image {
  width: 80%;
} 

.last-tech-tool {
  width: 42.085%;
}

.display-mobile {
  display: block;
}

.display-desktop {
  display: none;
}

/* Styles for Projects' section */

.project-image {
  width: 80%;
  margin-bottom: 3em;
}

 div .first-project {
  max-width: 94.5%;
  margin-top: 1em;    
}

@media(min-width:601px) {

  .splash-image {
    width: 80vw;
    margin-bottom: 2.5em;
  }

  nav .brand-logo {
    font-size: 2.1rem;
    margin-left: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 20%;
  }

  img.soft-skills-image {
    width: 65%;
  }

  .tech-tools-image {
    width: 55%;
  }
  
  .last-tech-tool {
    width: 33.9%;
  }
}

@media(min-width: 993px) {

  h2 {
    font-size: 3.1em;
    text-align: left; 
    margin-bottom: 0.65em; 
  }

  p {
    font-size: 1.3em;
  }

  .splash-image {
    width: 74vw; 
  }

  .display-mobile {
    display: none;
  }
  
  .display-desktop {
    display: block;
  }

  .container {
    width: 75%;
  }

  nav .nav-wrapper {
    display: block;
  }

  nav .brand-logo {
    margin-left: 1.2em;
    display: inline-block;
  }

  .logo {
    width: 11%;
  }

  .about-me-container {
    padding-top: 3.3em;
  }

  .image-div {
    align-items: flex-end;
  }

  img.soft-skills-image {
    width: 100%;
  }

  .tech-tools-container {
    min-height: 180px;
    margin: 1em 1em 2em;
  }

  .h2-tech-tools-title {
    margin-bottom: 0.8em; 
  }

  .tech-tools-image {
    width: 60%;
  }

  .last-tech-tool-row {
    margin-top: 2.3em;
  }

  .soft-skills-section {
    padding: 3.5em 0 3em;
  }  

  .last-section {
    padding-bottom: 5.5em;
    padding-top: 3em;   
  }

  .h2-section-project {
    padding-top: 1.78rem;
    margin: 0 0 1.7rem 0;
  }

  .project-image {
    width: 100%;
    margin-bottom: 0;
    margin-bottom: 1em;
  }  

  .project-paragraph-1 {
    width: 94%;
    bottom: -1em;
  }

  .project-paragraph-2 {
    width: 100%;
    bottom: -1em;
  }

  .project-paragraph-3 {
    width: 97%;
    bottom: -1em;
  }

  div .first-project  {
    margin-top: 0;
  }

  div .second-project {
    max-width: 86%;
  }

  div .third-project {
    max-width: 89%;
  }

  .project-button {
    padding: 0.9em 1.3em;
  }
}

@media(min-width: 1201px) {
  .splash-image {
    width: 35vw;
  }

  .project-button {
    padding: 1em 1.75em;
  }
}
