<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Portfolio</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body id="home">
  <!-- Encabezado -->
  <header class="display-mobile">
    <nav class="navbar">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo logo">My Portfolio</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#home">Inicio</a></li>
          <li><a href="#aboutMe">Acerca de mí</a></li>
          <li><a href="#softSkills">Habilidades Blandas</a></li>
          <li><a href="#techTools">Herramientas Tech</a></li>
          <li><a href="#projectSection">Proyectos</a></li>
          <li><a href="#contact">Contáctame</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <header class="display-desktop navbar-fixed">
    <nav class="navbar">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo logo">My Portfolio</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#home">Inicio</a></li>
          <li><a href="#aboutMe">Acerca de mí</a></li>
          <li><a href="#softSkills">Habilidades Blandas</a></li>
          <li><a href="#techTools">Herramientas Tech</a></li>
          <li><a href="#projectSection">Proyectos</a></li>
          <li><a href="#contact">Contáctame</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Main Image -->
  <section class="hero"></section>
  <!-- Main Content -->
  <main>
    <!-- Section about me -->
    <section class="peach-background" id="aboutMe">
      <div class="container flex-container about-me-container">
        <div class="row">
          <div class="col s12 col m12 col l6 about-me">
            <div>
              <h2>Acerca de mí</h2>
              <p class="my-description">Hola, me llamo Araceli. Soy una estudiante de Laboratoria especializada en front-end development. Aparte del código, me apasiona bailar, dibujar y pintar. Tengo el sueño de formar mi propia empresa y especializarme en mobile y robótica.</p>
            </div>
          </div>
          <div class="image-div col s12 col m12 col l6">
            <img src="../assets/images/me.jpg" class="my-image responsive-img" alt="My image">
          </div>
        </div>
      </div>
    </section>
    <!-- Section about my soft skills -->
    <section class="soft-skills-section peach-background" id="softSkills">
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12 soft-skills-title">
            <h2>Principales Habilidades Blandas</h2>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l4 center-align">
            <div>
              <img src="../assets/images/image1.jpg" class="responsive-img soft-skills-image" alt="Teamwork/Trabajo en equipo">
              <p>Capacidad para trabajar en equipo</p>
            </div>
          </div>
          <div class="col s12 m12 l4 center-align">
            <div>
              <img src="../assets/images/image2.jpg" class="responsive-img soft-skills-image" alt="Public Speaking/Oratoria">
              <p>Capacidad para realizar presentaciones en público</p>
            </div>
          </div>
          <div class="col s12 m12 l4 center-align">
            <div>
              <img src="../assets/images/image3.jpg" class="responsive-img soft-skills-image" alt="Resilience/Resiliencia">
              <p>Resiliencia</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section about my tech tools -->
    <section class="tech-tools-section" id="techTools">
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <h2>Herramientas Tech</h2>
          </div>
        </div>
        <!-- Mobile View -->
        <div class="row display-mobile">
          <div class="col s6 m6">
            <div class="tech-tools-container">
              <img src="../assets/images/image5.png" class="responsive-img tech-tools-image" alt="HTML5">
            </div>
          </div>
          <div class="col s6 m6">
            <div class="tech-tools-container">
              <img src="../assets/images/image6.png" class="responsive-img tech-tools-image" alt="CSS3">
            </div>
          </div>
        </div>
        <div class="row display-mobile">
          <div class="col s6 m6">
            <div class="tech-tools-container">
              <img src="../assets/images/image7.png" class="responsive-img tech-tools-image" alt="Javascript">
            </div>
          </div>
          <div class="col s6 m6">
            <div class="tech-tools-container">
              <img src="../assets/images/image13.jpg" class="responsive-img tech-tools-image" alt="jQuery">
            </div>
          </div>
        </div>
        <div class="row display-mobile">
          <div class="col s6 m6">
            <div class="tech-tools-container">
              <img src="../assets/images/image4.png" class="responsive-img tech-tools-image" alt="Materialize">
            </div>
          </div>
          <div class="col s6 m6">
            <div class="tech-tools-container">
              <img src="../assets/images/image10.png" class="responsive-img tech-tools-image" alt="Bootstrap">
            </div>
          </div>
        </div>
        <div class="row display-mobile">
          <div class="col s6 m6">
            <div class="tech-tools-container">
              <img src="../assets/images/image11.png" class="responsive-img tech-tools-image" alt="Github">
            </div>
          </div>
          <div class="col s6 m6">
            <div class="tech-tools-container">
              <img src="../assets/images/image9.png" class="responsive-img tech-tools-image" alt="Babel">
            </div>
          </div>
        </div>
        <div class="row display-mobile margin-bottom-zero">
          <div class="col s12 m12">
            <div class="tech-tools-container">
              <img src="../assets/images/image12.png" class="responsive-img tech-tools-image last-tech-tool" alt="NPM">
            </div>
          </div>
        </div>
        <!-- Desktop View-->
        <div class="row display-desktop">
          <div class="col l4">
            <div class="tech-tools-container">
              <img src="../assets/images/image5.png" class="responsive-img tech-tools-image" alt="HTML5">
            </div>
          </div>
          <div class="col l4">
            <div class="tech-tools-container">
              <img src="../assets/images/image6.png" class="responsive-img tech-tools-image" alt="CSS3">
            </div>
          </div>
          <div class="col l4">
            <div class="tech-tools-container">
              <img src="../assets/images/image7.png" class="responsive-img tech-tools-image" alt="Javascript">
            </div>
          </div>
        </div>
        <div class="row display-desktop">
          <div class="col l4">
            <div class="tech-tools-container">
              <img src="../assets/images/image13.jpg" class="responsive-img tech-tools-image" alt="jQuery">
            </div>
          </div>
          <div class="col l4">
            <div class="tech-tools-container">
              <img src="../assets/images/image4.png" class="responsive-img tech-tools-image" alt="Materialize">
            </div>
          </div>
          <div class="col l4">
            <div class="tech-tools-container">
              <img src="../assets/images/image10.png" class="responsive-img tech-tools-image" alt="Bootstrap">
            </div>
          </div>
        </div>
        <div class="row display-desktop margin-bottom-zero">
          <div class="col l4">
            <div class="tech-tools-container">
              <img src="../assets/images/image11.png" class="responsive-img tech-tools-image" alt="Github">
            </div>
          </div>
          <div class="col l4">
            <div class="tech-tools-container">
              <img src="../assets/images/image9.png" class="responsive-img tech-tools-image" alt="Babel">
            </div>
          </div>
          <div class="col l4">
            <div class="tech-tools-container">
              <img src="../assets/images/image12.png" class="responsive-img tech-tools-image" alt="NPM">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section about my projects -->
    <section class="peach-background last-section" id="projectSection">
      <div class="container">
        <div class="row">
          <h2 class="h2-section-project">Mis Proyectos</h2>
        </div>
        <div class="row margin-bottom-zero">
          <div class="col s12 m12 l4 center-align">
            <div class="project-container">
              <img src="../assets/images/project1.JPG" class="responsive-img project-image first-project" alt="Project 1">
              <p class="view-project project-paragraph-1">
                <span class="span-container"><a href="https://github.com/AraceliGS/jugando-con-xhr/" target="_blank"><i class="fab fa-github icon-project"></i></a></span>
                <span class="span-container"><a href="https://araceligs.github.io/jugando-con-xhr/public/index.html" target="_blank"><i class="fas fa-eye icon-project"></i></a></span>
              </p>
            </div>
          </div>
          <div class="col s12 m12 l4 center-align">
            <div class="project-container">
              <img src="../assets/images/project2.JPG" class="responsive-img project-image" alt="Project 2">
              <p class="view-project project-paragraph-2">
                <span class="span-container"><a href="https://github.com/AraceliGS/twitter" target="_blank"><i class="fab fa-github icon-project"></i></a></span>
                <span class="span-container"><a href="https://araceligs.github.io/twitter/" target="_blank"><i class="fas fa-eye icon-project"></i></a></span>
              </p>
            </div>
          </div>
          <div class="col s12 m12 l4 center-align">
            <div class="project-container">
              <img src="../assets/images/project3.png" class="responsive-img project-image third-project" alt="Project 3">
              <p class="view-project project-paragraph-3">
                <span class="span-container"><a href="https://github.com/AraceliGS/lyft-app" target="_blank"><i class="fab fa-github icon-project"></i></a></span>
                <span class="span-container"><a href="https://araceligs.github.io/lyft-app/" target="_blank"><i class="fas fa-eye icon-project"></i></a></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- Footer -->
  <footer id="contact">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <h3 class="center-align">Contáctame</h3>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">
          <p class="center-align">Si te gustaron mis proyectos, no dudes en contactarme.</p>
        </div>
      </div>
      <div class="row">
        <div class="col s6 m6 l6 center-align">
          <p><i class="fas fa-envelope icon"></i></p>
          <p>aragutarras@gmail.com</p>
        </div>
        <div class="col s6 m6 l6 center-align">
          <p><i class="fab fa-whatsapp icon"></i></p>
          <p>927 195 278</p>
        </div>
      </div>
      <div class="row">
        <div class="col s4 m4 l4 center-align">
          <div>
            <p>
              <span><i class="fas fa-download icon"></i></span>
              <span>CV</span>
            </p>
          </div>
        </div>
        <div class="col s4 m4 l4 center-align">
          <div>
            <p><a href="https://twitter.com/aragutarra" target="_blank"><i class="fab fa-twitter icon"></i></a></p>
          </div>
        </div>
        <div class="col s4 m4 l4 center-align">
          <div>
            <p><a href="https://www.linkedin.com/in/araceli-cristina-gutarra-soto-b180bb140/" target="_blank"><i class="fab fa-linkedin-in icon"></i></a></p>
          </div>
        </div>   
      </div>
      <div class="row footer-bottom margin-bottom-zero">
        <div class="col s12 m12 l12 center-align">
          <p>&#169; Araceli Gutarra Soto - 2017</p>
        </div>
      </div>
    </div>
  </footer>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/main-view.js"></script>
</body>
</html>

<!-- Link para mis trabajos -->
<!-- <a href="https://github.com/AraceliGS" target="_blank"><i class="fab fa-github icon"></i></a> -->
<!-- <i class="fas fa-laptop"></i> -->
<!-- <i class="fas fa-eye"></i> -->
